<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.campcino.mapper.SidoMapper">
    
    <resultMap id="SidoResultMap" type="com.ssafy.campcino.model.SidoEntity">
        <result property="sidoId" column="sido_id"/>
        <result property="sidoName" column="sido_name"/>
    </resultMap>

    <select id="findAll" resultMap="SidoResultMap">
        SELECT * FROM tbl_sido
    </select>
</mapper>
