<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.campcino.mapper.UserMapper">

    <!-- 회원 정보 삽입 -->
    <insert id="insertUser" parameterType="com.ssafy.campcino.dto.requestDto.JoinDto">
        INSERT INTO tbl_user (
        user_id, user_password, user_phone, user_age, user_email, user_gender, user_signup
        ) VALUES (
        #{userId}, #{userPassword}, #{userPhone}, #{userAge}, #{userEmail}, #{userGender}, CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 아이디로 사용자 조회 -->
    <select id="findByUserId" parameterType="String" resultMap="UserResultMap">
        SELECT *
        FROM tbl_user
        WHERE user_id = #{userId}
    </select>

    <!-- 사용자 정보 매핑 -->
    <resultMap id="UserResultMap" type="com.ssafy.campcino.model.UserEntity">
        <id property="userId" column="user_id"/>
        <result property="userPassword" column="user_password"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userAge" column="user_age"/>
        <result property="userEmail" column="user_email"/>
        <result property="userGender" column="user_gender"/>
        <result property="userSignup" column="user_signup"/>
        <result property="userDelete" column="user_delete"/>
        <result property="userMileage" column="user_mileage"/>
        <result property="userUrl" column="user_url"/>
        <result property="userTempAuth" column="user_temp_auth"/>
        <result property="userRefreshToken" column="user_refresh_token"/>
        <result property="userRes" column="user_res"/>
        <result property="userGrade" column="user_grade"/>
    </resultMap>

    <!-- Refresh Token 업데이트 -->
    <update id="updateRefreshToken" parameterType="map">
        UPDATE tbl_user
        SET user_refresh_token = #{refreshToken}
        WHERE user_id = #{userId}
    </update>

    <!-- Refresh Token 조회 -->
    <select id="findRefreshTokenByUserId" parameterType="String" resultType="String">
        SELECT user_refresh_token
        FROM tbl_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateUserInfo" parameterType="map">
        UPDATE tbl_user
        <set>
            <if test="updateUserDto.email != null">
                user_email = #{updateUserDto.email},
            </if>
            <if test="updateUserDto.phone != null">
                user_phone = #{updateUserDto.phone},
            </if>
            <if test="updateUserDto.gender != null">
                user_gender = #{updateUserDto.gender},
            </if>
            <!-- 필요에 따라 추가 필드 -->
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
